# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Editor files
.vscode/
*.swp
*.swo
*~

# Backup files
*.backup
*.bak
~

# Dependencies
server/node_modules/

# Environment
.env
.env.local

# Docker volumes
pgdata/

# Uploads de arquivos dos projetos
uploads/*
!uploads/.gitkeep
server/uploads/
